<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>A propos</h2>
            <p>Jimmy Sweat - 36 ans</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="image">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="Photo Jimmy Sweat">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                    <h3>Bienvenue dans le monde de l'action et de l'aventure, où la passion rencontre le partage.</h3>
                    <p>Depuis mon plus jeune âge, j'ai été captivé par la beauté et la liberté que procure le snowboard.</p>
                    <p>Avec Snowtricks, j'aspire à créer une communauté dynamique de riders passionnés, prêts à repousser leurs limites et à découvrir de nouvelles sensations.</p>
                    <p>Le site offre une plateforme interactive où les amateurs de snowboard peuvent se connecter, partager des conseils, des astuces et des vidéos, et trouver l'inspiration pour de nouvelles aventures sur les pistes.</p>
                    <p>Que vous soyez un débutant enthousiaste ou un expert chevronné, Snowtricks vous offre un accès privilégié à un monde de contenu exclusif.</p>
                    <p>Préparez-vous à repousser les limites, à maîtriser de nouveaux tricks et à découvrir la magie de la montagne.</p>
                </div>
            </div>
        </div>
    </div>
</section>
