<section id="faq" class="faq">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Foire aux questions</h2>
        </div>
        <ul class="faq-list">
            <li>
                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Qu'est-ce qu'un trick de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>Un trick de snowboard est une figure ou une acrobatie exécutée sur une planche de snowboard. Cela peut inclure des sauts, des rotations, des grabs et des slides sur les rails ou les boxes.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Quels sont les différents types de tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>Il existe une grande variété de tricks de snowboard, tels que les sauts (straight airs, spins, flips), les grabs (méthode, indy, mute, etc.), les slides (50-50, boardslide, lipslide) et les jibs (rails, boxes).</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Quels sont les niveaux de difficulté des tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>Les tricks de snowboard sont généralement classés en fonction de leur niveau de difficulté. On trouve les tricks de base pour les débutants, les tricks intermédiaires pour les riders plus expérimentés et les tricks avancés réservés aux snowboarders chevronnés.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Comment puis-je apprendre à faire des tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>Pour apprendre à faire des tricks de snowboard, il est recommandé de prendre des leçons avec un moniteur qualifié ou de participer à des camps de snowboard. Il est également important de progresser graduellement, d'utiliser un équipement adapté et de pratiquer régulièrement dans des zones spécifiquement désignées.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Quels sont les équipements de sécurité nécessaires pour pratiquer des tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>Il est essentiel de porter un casque de protection pour protéger votre tête lors de la pratique des tricks de snowboard. De plus, il est recommandé de porter des protections comme des genouillères, des coudières et un protège-poignet pour réduire les risques de blessures.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Quels sont les meilleurs spots pour pratiquer des tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>Les meilleurs spots pour pratiquer des tricks de snowboard sont généralement les snowparks spécialement aménagés sur les pistes de ski. Ces snowparks offrent une variété de modules tels que des kickers, des rails et des boxes, conçus spécifiquement pour les riders de snowboard.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq7" class="collapsed">Comment puis-je filmer mes tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                    <p>Pour filmer vos tricks de snowboard, vous pouvez utiliser des caméras d'action fixées sur votre casque, votre poitrine ou votre planche. Il est également courant de demander à un ami de vous filmer ou de faire appel à un vidéaste professionnel pour capturer vos meilleures performances.</p>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq8" class="collapsed">Quels conseils pouvez-vous donner pour améliorer mes tricks de snowboard ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                    <p>Pour améliorer vos tricks de snowboard, il est important de travailler votre équilibre, votre technique et votre coordination. Entraînez-vous régulièrement, visualisez vos mouvements, étudiez les vidéos de riders expérimentés et n'ayez pas peur de sortir de votre zone de confort pour progresser.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
