<header id="header" class="d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">
		<div class="logo">
			<a href="{{ path('app_home') }}"><img src="assets/img/logo-snowtricks.png" alt="" class="img-fluid"></a>
		</div>
		<nav id="navbar" class="navbar">
			<ul>
				{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/' %}
					<li><a class="nav-link scrollto" href="#about">A propos</a></li>
					<li><a class="nav-link scrollto" href="#tricks">Tricks</a></li>
					<li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
					<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
				{% endif %}
				{% if app.user %}
					<li><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion<i class="bx bxs-exit"></i></a></li>
				{% else %}
					<li><a class="nav-link" href="">S'inscrire<i class="bx bxs-user-plus"></i></a></li>
					<li><a class="nav-link" href="{{ path('app_login') }}">Se connecter<i class="bx bxs-lock"></i></a></li>
				{% endif %}
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
	</div>
</header>
