<section id="hero">
    <div class="hero-container">
        <a href="{{ path('app_home') }}" class="hero-logo" data-aos="zoom-in"><img src="{{ asset('assets/img/hero-logo.png') }}" alt="Logo Snowtricks"></a>
        <h1>Bienvenue chez SnowTricks</h1>
        <h2>Le site collaboratif dédié au snowboard et à son apprentissage</h2>
        <a href="#about" class="btn-get-started scrollto"><i class="bx bxs-landscape"></i> En avant la glisse</a>
    </div>
</section>
