<div class="row">
    <div class="col">
        {{ form_widget(pictureForm.file) }}
        <div class="form-error text-danger mt-2">
            {{ form_errors(pictureForm.file) }}
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <button type="button" class="btn btn-danger btn-sm btn-remove-edit">Supprimer</button>
    </div>
</div>